<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>LsmHp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <%= yield%>

    <section id="contacts"></section>
    <div class="container">
    	<div class="row centered mt mb">
    		<h1>Contacts</h1>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
          <figure class="snip1256">
            <%=image_tag "index/lsm_line_edit.png",:class => "img-responsive"%>
            <figcaption>
              <h3>公式LINEアカウント</h3>
              <p>レモンスマッシュの新歓用公式アカウントです。男子向けのテニス練習会や、御茶ノ水女子大、日本女子大での勧誘情報を発信します。
                QRコードで読み取っていただき、友だち追加してください。</p><a href="#" class="read-more">View Large QR</a>
            </figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
          <figure class="snip1256">
            <%=image_tag "index/twitter_edit.png",:class => "img-responsive"%>
            <figcaption>
              <h3>Twitterアカウント</h3>
              <p>レモンスマッシュの新歓用Twitterアカウントです。男子向けのテニス練習会や、御茶ノ水女子大、日本女子大での勧誘情報を発信します。
                フォローして最新情報を入手しましょう！</p><a href="#" class="read-more">Open Twitter</a>
            </figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <figure class="snip1256">
          <%=image_tag "index/mail_edit.png",:class => "img-responsive"%>
          <figcaption>
            <h3>E-mail</h3>
            <p>レモンスマッシュの新歓用Emailです。新歓担当者に直接つながります。練習会の予約や質問などにお使いください。
            </p><a href="#" class="read-more">Send Mail</a>
          </figcaption>
        </figure>
      </div>
    	</div><! --/row -->
    </div><! --/container -->
	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">

				</div>
				<div class="col-lg-4">
          <p>Let's play tennis with us.</p>
				</div>
				<div class="col-lg-4">
					<p>©Jaga</p>
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
